.title{
  font-family: 'PT Serif', serif;
}
.menu{
  font-family: 'Roboto', sans-serif;
}
.logo
{
   font-family: 'PT Serif', serif;
}
p{
   font-family: 'Roboto', sans-serif;
}
button{
   font-family: 'Roboto', sans-serif;
}
