.wrapper{
  width: 80%;
  margin: auto;
  }
  .header
  {
    display: flex;
   justify-content: space-between;
  }
.logo
{
  position: relative;
    padding: 40px 0;
    padding-left: 44px;
   font: bold 24px/31px PT Serif, arial, helvetica, sans-serif;
   }
   .logo__circle
   {
     position: absolute;
     left: 0;
     top: 50%;
    transform: translateY(-50%);
     width: 28px;
     height: 28px;
     border-radius: 50%;
     opacity: 0.7;
   }
   .logo__circle_color_darc-blue {
      background: #0056EC;
   }
   .logo__circle_color_blue{
     left: 8px;
     top: 56%;
     background: #C8DBFB;
   }
   .menu{
  padding: 47px 0;
  font-family: 'Roboto', sans-serif;
  }
   .logo,.menu {
 display: inline-block;
   }
   .menu__element{
     padding: 0 13px;
   }
   .menu__element:last-child {
     padding-right: 0;
   }
   .main-content {
  margin-right: 49%; 
   }
   .main-content__title {
   font-size: 66px;
line-height: 87px;
font-style: normal;
}
p{
   font-family: 'Roboto', sans-serif;
}
button{
   font-family: 'Roboto', sans-serif;
}

